import { ApiBase, ApiOptions } from './lib/runtime'

{{#apis}}
  class {{className}} extends ApiBase {

  {{#methods}}
    // {{method}} {{&formatString}}
    {{#isSingleton}}
      {{shortName}} (
    {{/isSingleton}}
    {{^isSingleton}}
      {{fullName}} (
    {{/isSingleton}}
    {{#pathParameters}}
      {{name}}{{cardinality}}: {{#type}}{{> type}}{{/type}},
    {{/pathParameters}}
    {{#hasQueryParameters}}
      parameters: {
      {{#queryParameters}}
        {{name}}{{cardinality}}: {{#type}}{{> type}}{{/type}},
      {{/queryParameters}}
      },
    {{/hasQueryParameters}}
    {{#bodyParameters}}
      {{name}}{{cardinality}}: {{#type}}{{> type}}{{/type}},
    {{/bodyParameters}}
    ): Promise<any> {
    let path = `{{{formatString}}}`
    return super.call('{{httpMethod}}', path, {{#hasQueryParameters}}parameters{{/hasQueryParameters}}{{^hasQueryParameters}}undefined{{/hasQueryParameters}})
      }
  {{/methods}}
  }
{{/apis}}

export class Api {

{{#apis}}
  {{api}}: {{className}}
{{/apis}}

constructor(options: ApiOptions) {
{{#apis}}
  this.{{api}} = new {{className}}(options)
{{/apis}}
}

}