# tt-api-client

{{#apis}}
* {{className}}
{{#methods}}
  - [{{&name}}](#{{&anchor}})
{{/methods}}
{{/apis}}


{{#apis}}
## {{className}}

{{#methods}}
### {{&name}}({{parameterNames}})

{{&summary}}

{{&description}}

#### Arguments
{{#pathParameters}}
 * {{name}}{{cardinality}}: `{{#type}}{{> type}}{{/type}}`
{{/pathParameters}}
{{#hasQueryParameters}}
 * parameters:
{{#queryParameters}}
   - `{{name}}{{cardinality}}: {{#type}}{{> type}}{{/type}}` - {{&type.description}}
{{/queryParameters}}
{{/hasQueryParameters}}
{{#bodyParameters}}
 * {{name}}{{cardinality}}: `{{#type}}{{> type}}{{/type}}`
{{/bodyParameters}}

#### Returns
 * `Promise<{{#responseType}}{{> type}}{{/responseType}}>`

{{/methods}}

{{/apis}}