{{#apis}}
  class {{className}} {
  {{#methods}}
    // {{method}} {{&formatString}}
    {{#isSingleton}}
      {{shortName}}
    {{/isSingleton}}
    {{^isSingleton}}
      {{fullName}}
    {{/isSingleton}}(
    {{#queryParameters}}
      {{name}}{{cardinality}}: any,
    {{/queryParameters}}
    ): Promise<any> {
      return null
      }
  {{/methods}}
  }
{{/apis}}

export class Api {

{{#apis}}
  {{api}}: {{className}}
{{/apis}}

constructor(args: { token: string, host?: string }) {
{{#apis}}
  this.{{api}} = new {{className}}()
{{/apis}}
}

}