{{#apis}}
  class {{className}} {
  {{#methods}}
    // {{method}} {{&formatString}}
    {{#isSingleton}}
      {{shortName}}
    {{/isSingleton}}
    {{^isSingleton}}
      {{fullName}}
    {{/isSingleton}}(
    {{#pathParameters}}
      {{name}}{{cardinality}}: any,
    {{/pathParameters}}
    {{#hasQueryParameters}}
      parameters: {
      {{#queryParameters}}
        {{name}}{{cardinality}}: any,
      {{/queryParameters}}
      },
    {{/hasQueryParameters}}
    {{#bodyParameters}}
      {{name}}{{cardinality}}: any,
    {{/bodyParameters}}
    ): Promise<any> {
    return null
    }
  {{/methods}}
  }
{{/apis}}

export class Api {

{{#apis}}
  {{api}}: {{className}}
{{/apis}}

constructor(args: { token: string, host?: string }) {
{{#apis}}
  this.{{api}} = new {{className}}()
{{/apis}}
}

}